body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body .bg {
  background-color: rgba(0, 0, 0, 0.541);
  height: 100vh;
}

@media (min-width: 840px) {
  body .bg {
    /* clip-path: polygon(0 0, 75% 0, 56% 100%, 0% 100%);
      width: 100%; */
    background-color: rgba(0, 0, 0, 0.185);
  }
}

body .bg::before {
  content: '';
  background-image: url(../images/crust-delicious-dinner-2271194.jpg);
  background-size: cover;
  background-position: left;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

@media (min-width: 840px) {
  body .bg::before {
    background-position: right;
  }
}

body header a {
  color: #d9d9d9;
  position: absolute;
  top: 0;
  padding: 1em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.7em;
  font-weight: bold;
}

@media (min-width: 840px) {
  body header a {
    color: #fff;
  }
}

div#msgAlert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#msgAlert .error {
  background: #570303;
  color: #fff;
  position: absolute;
  top: 50px;
  width: 70%;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: .5em;
  font-weight: bold;
  letter-spacing: 2px;
}

@media (min-width: 840px) {
  div#msgAlert .error {
    /* top: 65px;
      right: 109px;*/
    width: 25%;
    z-index: 1;
  }
}

main {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 840px) {
  main {
    background: #FFF6BB;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    height: 100vh;
    right: 0;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.432);
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.432);
  }
}

main .simplebar-scrollbar::before {
  background: #fff;
}

main section#getQuery {
  margin: 0 30px;
}

main section#getQuery .about {
  color: #d9d9d9;
  text-align: center;
  text-transform: uppercase;
  padding: 0 5px;
}

@media (min-width: 840px) {
  main section#getQuery .about {
    color: #000;
    line-height: 2;
  }
}

main section#getQuery .about h2 {
  letter-spacing: 4px;
  overflow: hidden;
  margin-bottom: -2px;
}

main section#getQuery .about p {
  font-size: .8em;
  line-height: 1.8;
  letter-spacing: 1.5px;
  font-weight: bold;
}

main section#getQuery form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

main section#getQuery form #searchTxt {
  color: #d9d9d9;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.6rem;
  font-weight: bold;
  margin-bottom: 10px;
}

@media (min-width: 840px) {
  main section#getQuery form #searchTxt {
    color: #666666;
  }
}

main section#getQuery form #textInput {
  width: 80%;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  color: #000;
}

@media (min-width: 840px) {
  main section#getQuery form #textInput {
    color: #666666;
    background-color: #d9d9d9;
  }
}

main section#getQuery form #searchBtn {
  background-color: #000;
  color: #d9d9d9;
  border: none;
  margin-top: 5px;
  height: 35px;
  width: 30%;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: bold;
  -webkit-transition-property: background color;
  transition-property: background color;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

main section#getQuery form #searchBtn:hover {
  background: #d9d9d9;
  color: #000;
}

main section#render {
  background: rgba(19, 18, 18, 0.671);
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

@media (min-width: 840px) {
  main section#render {
    z-index: 1;
  }
}

main section#render .close {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .9em;
  font-weight: bold;
  color: #fff;
  border: 1px solid #fff;
  position: absolute;
  right: 20px;
  padding: 10px;
  margin: 10px 0;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

main section#render .close:hover {
  border: none;
  color: #d9d9d9;
}

main section#render #renderContainer {
  position: absolute;
  top: 76px;
  height: 70%;
  margin: 0 60px;
  /* background: lighten($color:#fff, $amount: 5%); */
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

@media (min-width: 840px) {
  main section#render #renderContainer {
    height: 100vh;
    width: 80%;
    /* width: 100%; */
    display: -ms-grid;
    display: grid;
    grid-gap: 15px;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    border: 1px solid red;
  }
}

main section#render #renderContainer #renderBox {
  background: #fff;
}

main section#render #renderContainer #renderBox .renderImg img {
  width: 100%;
}

main section#render #renderContainer #renderBox .renderContent {
  text-align: center;
  letter-spacing: 1px;
}

main section#render #renderContainer #renderBox .renderContent span {
  background: #666666;
  color: #fff;
  padding: 5px;
  margin: 20px 0;
}

main section#render #renderContainer #renderBox .renderContent button {
  background: #000;
  border: none;
  padding: 10px 10px;
  -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.178);
          box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.178);
}

main section#render #renderContainer #renderBox .renderContent button a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
/*# sourceMappingURL=index.css.map */